[project]
	description = Fork of https://github.com/OCamlPro/ocplib-endian
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Pierre Chambart (chambart)
[access "refs/for/refs/*"]
	read = group user/Pierre Chambart (chambart)
	push = group user/Pierre Chambart (chambart)
	label-Code-Review = -2..+2 group user/Pierre Chambart (chambart)
	label-Verified = -1..+1 group user/Pierre Chambart (chambart)
	rebase = group user/Pierre Chambart (chambart)
	removeReviewer = group user/Pierre Chambart (chambart)
	submit = group user/Pierre Chambart (chambart)
[access "refs/heads/*"]
	read = group user/Pierre Chambart (chambart)
	create = group user/Pierre Chambart (chambart)
	push = +force group user/Pierre Chambart (chambart)
	pushMerge = group user/Pierre Chambart (chambart)
[access "refs/tags/*"]
	push = +force group user/Pierre Chambart (chambart)
	pushTag = group user/Pierre Chambart (chambart)
	pushSignedTag = group user/Pierre Chambart (chambart)
